
.flex-container-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
    padding: 50px 50px 50px;

}


img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
} 

body {
    background-color: #4e7c4a;
}


button {
    background-color: #4CAF50; 
    border: black;
    border-radius: 1rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px;   
}

button:hover {
    cursor: pointer;
    background-color: #2d572f;
}

p {
    color: #ffffff; 
    text-align: center;
    font-size: 16px;
    margin: 10px;
    font-family: sans-serif;
}

h1 {
    color: #f2f2f2;
    font-family: sans-serif;
    font-style: italic;
    border-bottom: 2px solid #2d572f;
    border-bottom-style: solid;
    padding-bottom:10px;
}